PORT=3000
NODE_ENV=development
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/mejoresamigos
TELEGRAM_BOT_TOKEN=your_bot_token
ADMIN_TELEGRAM_ID=your_telegram_id
SESSION_SECRET=your_session_secret
MAIN_APP_ADMIN_PASSWORD=Devadutt@2011
AUCTION_ADMIN_PASSWORD=123456
JIKAN_API_BASE=https://api.jikan.moe/v4
